.user-form {
  .form-title {
    margin-bottom: 15px;
  }

  h3 {
    font-size: 21px;
    font-weight: 700;
  }

  h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  .MuiTabPanel-root {
    padding: 30px 0 0;
  }

  form {
    margin-top: 20px;
  }

  .input {
    max-width: 465px;

    input {
      padding: 14px 32px;
    }

    label {
      font-size: 14px;
    }

    ::placeholder {
      font-size: 14px;
    }
  }

  p {
    font-size: 13px;
    margin-top: 10px;
  }

  .file-upload {
    height: 256px;
  }
}
