@import '../../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    color: $secondary;
    margin-bottom: 10px;
    font-weight: 500;
    font-weight: 'Roboto';
  }

  input {
    background: $background;
    width: 100%;
    border-radius: 3px;
    padding: 18px 32px;
    border: solid 1px transparent;
    margin-bottom: 27px;

    &:focus {
      border: solid 1px $primary;
      outline: none;
    }

    &[type='checkbox'] {
      width: 24px;
      height: 24px;
      border: 1px solid #eeeeef;
      background: $background;
      margin-right: 8px;
    }
  }

  &.error {
    input {
      border-color: red;

      &[type='checkbox'] {
        box-shadow: 0 0 6px rgb(255, 135, 135);
      }
    }
  }

  span {
    color: $secondary;
    font-size: 13px;
    margin-top: -25px;
    margin-bottom: 27px;
  }

  .error-message {
    position: absolute;
    color: red;
    bottom: -20px;
    white-space: nowrap;
  }
}
