@use '../../variables';

.input {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    color: variables.$secondary;
    margin-bottom: 10px;
    font-weight: 500;
  }

  input {
    background: variables.$background;
    width: 100%;
    border-radius: 3px;
    padding: 18px 32px;
    border: solid 1px transparent;
    margin-bottom: 27px;

    &:focus {
      border: solid 1px variables.$primary;
      outline: none;
    }

    &[type='checkbox'] {
      width: 24px;
      height: 24px;
      border: 1px solid #eeeeef;
      background: variables.$background;
      margin-right: 8px;
    }
  }

  &.error {
    input {
      border-color: red;

      &[type='checkbox'] {
        box-shadow: 0 0 6px rgb(255, 135, 135);
      }
    }
  }

  span {
    color: variables.$secondary;
    font-size: 13px;
    margin-top: -25px;
    margin-bottom: 27px;
  }

  .error-message {
    position: absolute;
    color: red;
    bottom: -20px;
    white-space: nowrap;
  }
}
