@use '../../variables';

.filter {
  display: flex;
  align-items: center;
  margin: 0 30px;

  .label {
    color: variables.$default;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
  }

  button {
    font-size: 14px;
    color: variables.$black;

    &.open {
      color: variables.$primary;
    }
  }

  .MuiAvatar-circular {
    border: 2px solid transparent;

    &.open {
      border: 2px solid rgba(76, 111, 255, 0.4);
      box-sizing: border-box;
    }
  }
}
