@use '../../variables';

.terms {
  padding-bottom: 100px;

  header {
    background: #040d32;
    color: variables.$white;
    padding-bottom: 30px;

    .logo {
      margin-left: -20px;
    }

    h2 {
      margin: 0;
      font-size: 28px;

      img {
        margin-right: 20px;
        vertical-align: middle;
      }
    }
  }

  h1 {
    margin: 46px 0;
    font-size: 30px;
  }

  h3 {
    font-size: 21px;
  }

  p {
    font-size: 14px;
  }
}
