@import '../../variables.scss';

.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 16px 35px 13px;
  background: $white;
  border-bottom: solid 1px $border;
  font-size: 14px;
}
