@use '../../variables';

.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 16px 35px 13px;
  background: variables.$white;
  border-bottom: solid 1px variables.$border;
  font-size: 14px;
}
