@import '../../variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  width: 100%;
  padding: 0 35px;
  background: $white;
  border-bottom: solid 1px $border;
  font-size: 14px;
}
