$black: #1a1e2c;
$white: #fff;
$primary: #4c6fff;
$background: #f5f6f7;
$status: #2e5bff;
$secondary: #6f7c8b;
$inactive: rgba(111, 124, 139, 0.5);
$default: #6f7c8b;
$border: #eaedf3;
$dropdown: #8e94a7;
$text: #25282b;
$active: #1943ef;
