@use '../../variables';

.user-menu {
  display: flex;
  align-items: center;
  margin-left: auto;

  button {
    color: variables.$black;
    font-size: 14px;

    &.open {
      color: variables.$primary;
    }
  }

  .MuiAvatar-circular {
    border: 2px solid transparent;

    &.open {
      border: 2px solid rgba(76, 111, 255, 0.4);
      box-sizing: border-box;
    }
  }
}

@media (max-width: 480px) {
  .user-menu {
    margin-bottom: 10px;
  }
}
